<div class='event-card'>
  <img src={{null}} alt='' />

  <div class='stats'>
    <p class='event-item-name'>

      {{name}}
    </p>
    <p class='event-item-data'>

      {{null}}
    </p>
    <p class='event-item-location'>

      {{null}}
    </p>

  </div>
</div>